.image {
    position:relative;
    display: inline-block;
  }
.image > img {
    width : 370px;
    
}
.text { 
    display: none;
    text-align: center;
    width : 200px;
}
.image:hover > .text { 
    display: block;
}
.image:hover {
    opacity: 0.7;
}
.image .text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
  }

@media screen and (max-width: 768px) {
    .image > img {
        width : 90%;
        height : auto;
    }
}